### Site-Specific Settings ###
PANTHEON_SITE=ENTER_SITE_HERE
PANTHEON_ENV=dev
# VIRTUAL_HOST will be automatically set by the PANTHEON_SITE from docksal-local.env. Change it only if necessary.
VIRTUAL_HOST="${PANTHEON_SITE}.local"
# Which site should Apache file proxy use for assets?
APACHE_FILE_PROXY="https://${PANTHEON_ENV}-${PANTHEON_SITE}.pantheonsite.io/"


### Temporary Environment Settings ###
# Uncomment to enable XDebug.
# XDEBUG_ENABLED=1

# MySQL static port mapping. Change "33060" to something unique for your Docksal setup.
# MYSQL_PORT_MAPPING='33060:3306'
# MYSQL_PORT='33060'

# VNC static port mapping. Change "59000" to something unique for your Docksal setup.
# VNC_PORT_MAPPING='59000:5900'

### Custom Settings ###
# VIRTUAL_HOST will be automatically set by the PANTHEON_SITE above. Change it only if necessary.
# VIRTUAL_HOST="myotherhost.local"
# Which site should Apache file proxy use for assets? Change it only if necessary.
# APACHE_FILE_PROXY="https://anothersite-devtestorlive.pantheonsite.io/"

# SECRET_TERMINUS_TOKEN will be entered here when "git init" is run
